<h1>It is about page and working fine</h1>

<%= link_to "Home", root_path %>
<%= link_to "Profile",profile_path %>

<hr>

<h2>I am very happy about it</h2>

<ul>
<li>working fine 1</li>
<li>working fine 2</li>
<li>working fine 3</li>
<li>working fine 4</li>
<li>working fine 5</li>

</ul>
